<div class="container my-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          {{ month }}
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th *ngFor="let day of weekdays" class="text-center">{{ day }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let week of calendar">
              <td *ngFor="let day of week" class="text-center" [ngClass]="{'current-day': day === currentDay}">
                <ng-container *ngIf="day !== null">{{ day }}</ng-container>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
