html {
  overflow-x: hidden;

}

body {
  font-family: 'Montserrat', sans-serif;
}

.indChar {
  animation: rt 1s 1 linear;
  opacity: 0;
  animation-fill-mode: forwards;

}

.font400 {
  font-weight: 400 !important;
}

.nav-link {
  color: #888888;
  letter-spacing: 2px;
  font-size: 14px;
}

.nav-link:hover {
  color: #548da8
}


.nav-link:hover::after,
.nav-link:hover::before {
  opacity: 1;
}

.nav-link:before {
  content: "\263C";
  margin-right: 4px;
  color: #cecece;
  opacity: 0;
  transition: opacity 200ms linear;
}
.horizontal-main-wrapper .main-content-inner {

}

.main-content-inner {



}

.single-report {
text-align: center;
  overflow: hidden;
  border: 2px solid;
  border-radius: 10px;
}

single-report .icon {


}
.s-report-title {
  margin-bottom: 25px;
  text-align: center;

}
.single-report h4 {
  font-size: 46px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0;
}
.header-title {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 17px;
}
.single-report span {
  font-size: 50px;
  font-weight: 600;
  color: #565656;
  letter-spacing: 0;
}
.s-report-title {
}
.nav-link:after {
  content: "\263C";
  margin-left: 4px;
  color: #cecece;
  opacity: 0;
  transition: opacity 200ms linear;
}

p {
  color: #616161;
  letter-spacing: 18px;
  font-size: xx-large;

}

#mouse {
  filter: invert(50%);
  animation: flick 800ms infinite linear;
}

@keyframes flick {

  0%,
  100% {
    opacity: 0.3
  }

  50% {
    opacity: 1;
  }
}

@keyframes rt {
  0% {
    opacity: 0;
  }

  50% {
    transform: rotateZ(180deg) translateX(-200px)
  }

  100% {
    transform: rotateZ(360deg);
    opacity: 1;
    color: #548da8
  }
}

#bottomNav {
  transition: all 300ms linear;
}

@media screen and (max-width:752px) {
  #bottomNav {
    transform: translateY(100%);
    opacity: 0
  }

  h4{
    text-align: center;
  }
  .col-md-4{

    margin: 50px; /* Ajouter 10 pixels d'espace autour de chaque boîte */
  }

}
